/* VARIABLES */
/* MIXINS */
@-webkit-keyframes moving-gradient {
  0% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}
/* styles */
*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  margin: 2rem 0;
  padding: 1em;
  background: #fffff0;
  font-family: 'lato', Lato, 'open-sans', Open Sans, sans-serif;
  color: #333;
  font-weight: 300;
  -webkit-backface-visibility: hidden;
}
#tests {
  margin-top: 1em;
}
.game {
  width: 16.799999999999997em;
  height: 6em;
  padding-top: 1.7em;
  margin-bottom: 1.5em;
  display: block;
  border-radius: 0.44999999999999996em;
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
  zoom: 1;
}
.game:after,
.game:before {
  content: "";
  display: table;
}
.game:after {
  clear: both;
}
.cards-user div:nth-child(1) {
  margin-top: -1.3em;
}
.cards-user div:nth-child(2) {
  margin-top: 2.3em;
  margin-left: -3.5em;
}
.circ-button-red,
.circ-button-black,
.circ-button-unknown,
.square-button-black,
.square-button-red,
.minus-button,
.plus-button,
.square-button-unknown {
  display: block;
  float: left;
  width: 3em;
  height: 3em;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3em;
  padding-top: 0.6em;
  box-shadow: 0 0 40px rgba(0,0,0,0.5);
  margin: 0.5em;
  zoom: 20%;
}
.circ-button-red,
.square-button-red {
  color: rgba(231,76,60,0.9);
  border: 10px dashed rgba(231,76,60,0.9);
}
.circ-button-black,
.square-button-black {
  color: rgba(52,73,94,0.9);
  border: 10px dashed rgba(52,73,94,0.9);
}
.square-button-black,
.square-button-red,
.square-button-unknown {
  zoom: 22%;
  border-radius: 0.5em;
  border: none;
  line-height: 1.8em;
}
.minus-button {
  box-shadow: 0 0 1em rgba(172,86,76,0.9);
  line-height: 1.7em;
  margin-left: -1.5em;
  background-color: #fffff0;
}
.plus-button {
  box-shadow: 0 0 1em rgba(46,204,113,0.9);
  line-height: 2em;
  margin-right: -2.2em;
  background-color: #fffff0;
}
.not-sel {
  -webkit-filter: opacity(35%) grayscale(40%);
}
.circ-button-unknown,
.square-button-unknown {
  -webkit-filter: opacity(90%);
  background-image: linear-gradient(90deg, #b3554d, transparent, #883d8f), linear-gradient(180deg, #ccd194, #4daab3);
  -webkit-background-size: 190% 100%;
  -webkit-animation-name: moving-gradient;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic(0.1, 0.8, 0.8, 0.1);
}
.circ-button-unknown div {
  font-size: 1.5em;
  color: rgba(52,73,94,0.9);
  margin-top: 0.1em;
}
/*
label
  cursor pointer*/
.blue-label {
  background-color: #3498db;
  border-color: #3498db;
}
.blue-label::after {
  border-color: inherit;
}
.purple-label {
  background-color: #9b59b6;
  border-color: #9b59b6;
}
.purple-label::after {
  border-color: inherit;
}
.red-label {
  background-color: rgba(231,76,60,0.9);
  border-color: rgba(231,76,60,0.9);
}
.red-label::after {
  border-color: inherit;
}
.orange-label {
  background-color: #e67e22;
  border-color: #e67e22;
}
.orange-label::after {
  border-color: inherit;
}
.yellow-label {
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.yellow-label::after {
  border-color: inherit;
}
.green-label {
  background-color: rgba(46,204,113,0.5);
  border-color: rgba(46,204,113,0.5);
}
.green-label::after {
  border-color: inherit;
}
.dark-label {
  background-color: rgba(52,73,94,0.9);
  border-color: rgba(52,73,94,0.9);
}
.dark-label::after {
  border-color: inherit;
}
.white-label {
  background-color: #fffff0;
  border-color: #fffff0;
}
.white-label::after {
  border-color: inherit;
}
