/* VARIABLES */
liteGreen = rgba(46, 204, 113, 0.5)
liteBlue = rgba(52, 152, 219, 1.0)
litePurple = rgba(155, 89, 182, 1.0)
liteRed = rgba(231, 76, 60, 0.9)
liteOrange = rgba(230, 126, 34, 1.0)
liteYellow = rgba(241, 196, 15, 1.0)
liteDark = rgba(52, 73, 94, 0.9)
liteWhite = rgba(255, 255, 240, 1.0)

dia = 3em
incolor = liteGreen
outcolor = liteRed
bdrwidth = 10px
time = 0.15s

/* MIXINS */
clearfix()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

flat-label(color)
  background-color color
  border-color color
  &::after
    border-color inherit

inline-children(num)
  > *
    width (100% / num)

@-webkit-keyframes moving-gradient 
    0%  
      background-position right
    100% 
      background-position left

/* styles */

*, *:after, *:before
  box-sizing border-box

html
  font-size 100%

body
  margin 2rem 0
  padding 1em
  background liteWhite;
  //font-family Helvetica
  font-family 'lato', Lato, 'open-sans', Open Sans, sans-serif
  color #333
  font-weight 300
  -webkit-backface-visibility hidden

#tests
  margin-top 1em

.game
  width (dia * 5.6)
  height (dia * 2)
  padding-top 1.7em
  margin-bottom 1.5em
  display block
  border-radius (dia * 0.15)
  box-shadow 0 0 40px rgba(0, 0, 0, 0.5)
  clearfix()

.cards-user div:nth-child(1)
  margin-top -1.3em

.cards-user div:nth-child(2)
  margin-top 2.3em
  margin-left -3.5em

.circ-button-red, .circ-button-black, .circ-button-unknown, .square-button-black, .square-button-red, .minus-button, .plus-button, .square-button-unknown
  display block
  float left
  width dia
  height dia
  font-size dia
  font-weight 800
  letter-spacing -0.02em
  text-transform uppercase
  text-align center
  text-decoration none

  border-radius dia
  padding-top (dia/2 - 0.9em)
  box-shadow 0 0 40px rgba(0, 0, 0, 0.5)
  margin 0.5em
  zoom 20%
  
.circ-button-red, .square-button-red
  color liteRed
  border bdrwidth dashed liteRed

.circ-button-black, .square-button-black 
  color liteDark
  border bdrwidth dashed liteDark

.square-button-black, .square-button-red, .square-button-unknown
  zoom 22%
  border-radius 0.5em
  border none
  line-height 1.8em

.minus-button
  box-shadow 0 0 1em rgba(172, 86, 76, 0.9)
  line-height 1.7em
  margin-left -1.5em
  background-color liteWhite

.plus-button
  box-shadow 0 0 1em rgba(46, 204, 113, 0.9)
  line-height 2em
  margin-right -2.2em
  background-color liteWhite

.not-sel 
  -webkit-filter opacity(35%) grayscale(40%)

.circ-button-unknown, .square-button-unknown
  -webkit-filter opacity(90%)
  background-image:
    linear-gradient( 90deg, hsla(5,40%,50%,1), transparent, hsla(295,40%,40%,1)), 
    linear-gradient( 180deg, hsla(65,40%,70%,1), hsla(185,40%,50%,1))

  -webkit-background-size 190% 100%
  -webkit-animation-name moving-gradient
  -webkit-animation-duration 3s
  -webkit-animation-fill-mode forwards
  -webkit-animation-iteration-count 1
  -webkit-animation-timing-function cubic(0.1, 0.8, 0.8, 0.1)

.circ-button-unknown div
  font-size (dia * 0.5)
  color liteDark
  margin-top 0.1em
  

/*
label
  cursor pointer*/

.blue-label
  flat-label liteBlue

.purple-label
  flat-label litePurple

.red-label
  flat-label liteRed

.orange-label
  flat-label liteOrange

.yellow-label
  flat-label liteYellow

.green-label
  flat-label liteGreen

.dark-label
  flat-label liteDark

.white-label
  flat-label liteWhite