body
  .game
    .feedback
      .minus-button ▬ 
    .cards-game
      .circ-button-red.not-sel 10♥
      .circ-button-red Q♦
      .circ-button-black.not-sel J♣
      .circ-button-black A♠ 
      .circ-button-unknown
    .cards-user
      .square-button-black A♣ 
      .square-button-red Q♥
    .feedback
      .plus-button ╋ 
      
  .game
    .feedback
      .minus-button ▬ 
    .cards-game
      .circ-button-unknown
      .circ-button-unknown
      .circ-button-unknown
      .circ-button-unknown 
      .circ-button-unknown
    .cards-user
      .square-button-unknown
      .square-button-unknown
    .feedback
      .plus-button ╋ 

  #tests
    div Evaluating 5 cards poker hands:
    div running the same set of 20 different hands for 2 sec consecutively ...
   
    br
    #output
    
    div just some symbols:
    div ✦  ⇪ ✰ ✪ ♠ ♣ ♥ ♦ ∞ 
    div ♤ ♧ ♡ ♢ ⌫ ✓ ☑ ☒ ☐ ✖ ✗ 
    div ➀ ➁ ➂ ➊ ➋ ➌ ☰ ▬ ╋ 